[submodule "pack/myplugins/start/vim-airline"]
	path = pack/myplugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "pack/myplugins/start/dracula"]
	path = pack/myplugins/start/dracula
	url = https://github.com/dracula/vim.git
